{{#*inline "head"}}
    <script defer src="/static/scripts/signup.js"></script>
    <script defer src="/static/scripts/validate.js"></script>
{{/inline}}
{{#*inline "content"}}
<div id="signup">
    <div class="right-card">
        <img src="/assets/logo.png" alt="Logo">
    </div>
    <div id="signup-form">
        <h1>Sign Up</h1>
        <div id="name">
            <input id="firstname" placeholder="Firstname">
            <input id="surname" placeholder="Surname">
        </div>
        <input id="email" placeholder="Email">
        <br>
        <input id="password" type="password" placeholder="Password">
        <input id="confirm-password" type="password" placeholder="Confirm Password">
        <div id="password-strength" data-strength="low"></div>
        <p>Password Strength</p>
        <br>
        <div id="actions">
            <button id="signup-btn">Sign Up</button>
        </div>
    </div>
</div>
{{/inline}}
{{> (lookup this "parent")}}